In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import string

In [2]:
data=pd.read_csv('uncleaned_ds.csv',delimiter=',')

In [3]:
data.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

#### checking our data

In [4]:
data.shape

(672, 15)

In [5]:
data.info() #checking column types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

In [6]:
data.describe() # We see that salary/company revenue are objects, for now at least

            index      Rating      Founded
count  672.000000  672.000000   672.000000
mean   335.500000    3.518601  1635.529762
std    194.133974    1.410329   756.746640
min      0.000000   -1.000000    -1.000000
25%    167.750000    3.300000  1917.750000
50%    335.500000    3.800000  1995.000000
75%    503.250000    4.300000  2009.000000
max    671.000000    5.000000  2019.000000

### Index column

In [7]:
#Checking for nan/duplicated indexes , in index column
data.index.isna().sum()

0

In [8]:
len(data['index'].unique())-data.shape[0]

0

In [9]:
#No duplicated/nan  , setting index column as an index for the data
data=data.set_index('index')

In [10]:
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
index,,,,,,,,,,,,,,
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

### Job title : üë∑‚Äç‚ôÇ

Will leave it as it is !

In [11]:
data['Job Title'].isna().sum() #Checking for nan

0

In [12]:
len(data['Job Title'].unique()) #there are 172 diffrent roles on our data

172

### Salary Estimate

Our columns contains objects ie non numeric , we want to change that
Will set the range estimate to point estimate this will help us great deal later on

In [13]:
data['Salary Estimate'].isna().sum() #no nan values.

0

##### Checking for repeated pattern in that column ,in order to extract numbers safely

In [14]:
pattern_check=pd.DataFrame(data['Salary Estimate'].unique())

In [15]:
pattern_check=pattern_check[0].apply(lambda x:x[-16:].strip('K'))

In [16]:
pattern_check.unique()[1]

'(Employer est.)'

In [17]:
len(pattern_check.unique()) # We see that we got 2 patterns to watch out for

2

In [18]:
def eval_currency(input):
    return int(input[0][1:-1])*1000,int(input[1][1:-1])*1000

In [19]:
def extract_average(input):
    if input[-16:].strip('K')==pattern_check.unique()[0]:
        start,end=eval_currency(input.strip(pattern_check.unique()[0]).split('-'))
    else:
        start,end=eval_currency(input.strip(pattern_check.unique()[1]).split('-'))
    return (start+end)/2

In [20]:
data['Salary Estimate']=data['Salary Estimate'].apply(lambda x:extract_average(x))

In [21]:
pd.options.display.float_format='{:.2f}'.format

In [22]:
data['Salary Estimate'].describe()

count      672.00
mean    123663.69
std      39580.27
min      43500.00
25%     103000.00
50%     114000.00
75%     136500.00
max     271500.00
Name: Salary Estimate, dtype: float64

### Job description

In [23]:
# Job title is thorough enough , and its self explanatory ,
# For that matter will drop Job Description as a whole

In [24]:
data=data.drop('Job Description',axis=1) #droping job_desc

#### Rating

In [25]:
data['Rating'].isna().sum() #No nan values , but there are -1 values , that indicates NAN

0

In [26]:
data[data['Rating']==-1].shape[0] #50 Companies have missing 'rating' values

50

In [27]:
data['Rating'].unique()

array([ 3.1,  4.2,  3.8,  3.5,  2.9,  3.9,  4.4,  3.6,  4.5,  4.7,  3.7,
        3.4,  4.1,  3.2,  4.3,  2.8,  5. ,  4.8,  3.3,  2.7,  2.2,  2.6,
        4. ,  2.5,  4.9,  2.4, -1. ,  2.3,  4.6,  3. ,  2.1,  2. ])

In [28]:
#For this matter will assume the worse and assign the worst rating for each of these companies
#explanation:rating is a type of public trust , any missing values is already a red-flag , so we can't go ease here

In [29]:
data[data['Rating']!=-1]['Rating'].describe() #Extracting the min (excluding -1)
min_rating=_[3]

In [30]:
data['Rating']=data['Rating'].apply(lambda x:min_rating if x==-1 else x)

#### Company Name

There seem to be an issue with our values , they contain (numbers,'\n') we want to clean that

In [31]:
data[data['Company Name']==-1].shape[0] #No missing values

0

In [32]:
data.head()

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
index,,,,,,,,,,,,,
0,Sr Data Scientist,154000.00,3.10,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,154000.00,4.20,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,154000.00,3.80,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,154000.00,3.50,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,154000.00,2.90,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [33]:
data['Company Name'].unique()

array(['Healthfirst\n3.1', 'ManTech\n4.2', 'Analysis Group\n3.8',
       'INFICON\n3.5', 'Affinity Solutions\n2.9', 'HG Insights\n4.2',
       'Novartis\n3.9', 'iRobot\n3.5', 'Intuit - Data\n4.4',
       'XSELL Technologies\n3.6', 'Novetta\n4.5', '1904labs\n4.7',
       'PNNL\n3.7', 'Old World Industries\n3.1',
       'Mathematica Policy Research\n3.4',
       'Guzman & Griffin Technologies (GGTI)\n4.4',
       'Upside Business Travel\n4.1', 'Buckman\n3.5',
       'Insight Enterprises, Inc.\n4.2', 'Tower Health\n3.5',
       'Triplebyte\n3.2', 'PulsePoint\n4.3', 'Exponent\n3.5',
       'Guardian Life\n3.5',
       'Spectrum Communications and Consulting\n3.4',
       'Oversight Systems\n4.7', 'LSQ\n4.2',
       'MIT Lincoln Laboratory\n3.8', 'Kingfisher Systems\n4.5',
       'Formation\n2.8', 'Cohere Health\n5.0', 'Acuity Insurance\n4.8',
       'Chef\n3.6', 'Puget Sound Energy\n3.3', 'Sandhills Global\n2.7',
       'A Place for Mom\n2.7', 'Great-Circle Technologies\n2.2',
       'Edmunds.com\n3.4', 'Cambridge Associates, LLC\n3.1',
       'Liberty Mutual Insurance\n3.4', 'Cenlar\n2.6',
       'Arsenal Biosciences\n5.0', 'Eversight\n4.2', 'Pfizer\n4.1',
       'Klaviyo\n4.8', 'Intellectual Ventures\n3.3', 'GovTech\n3.7',
       'Quick Base\n4.3', 'Giving Assistant\n4.8', 'Takeda\n3.7',
       'Netskope\n4.0', 'IT Concepts\n4.8', 'iSeatz\n3.5',
       'Summa Health System\n3.7', 'Benson Hill\n3.5', 'Twitter\n4.1',
       'Postmates - Corporate HQ\n3.2', 'Envision LLC\n4.5',
       'Swiss Re\n3.8', 'Systems & Technology Research\n4.5',
       'Dermalogica\n3.8', 'Bayview Asset Management\n3.7',
       'Via Transportation\n3.7', 'Grid Dynamics\n4.0',
       'Tempus Labs\n3.3', 'CareDx\n2.5', 'IZEA\n4.2', 'Autodesk\n4.0',
       'Caterpillar\n3.7', 'New England Biolabs\n4.9',
       'Allied Solutions\n3.4', 'The Knot Worldwide\n3.5',
       'IFG Companies\n2.9', 'Amyris\n3.3', 'AstraZeneca\n4.0',
       'Powertek\n3.6', 'Object Partners\n4.7', 'The Mom Project\n4.9',
       'Lightspeed Systems\n4.3', 'Stripe\n4.0',
       'Comprehensive Healthcare\n2.6',
       'Fullpower Technologies, Inc.\n4.5', 'Mars\n3.9',
       'NuWave Solutions\n4.4', 'Merrick Bank\n3.6', 'QOMPLX\n3.5',
       'GutCheck\n3.8', 'Inter-American Development Bank\n3.5',
       'Avlino\n4.9', 'Stratagem Group\n4.4', 'Evidation\n4.1',
       'Tecolote Research\n3.8', 'Tivity Health\n3.2', 'hc1\n2.9',
       'HP Inc.\n4.1', 'SAIC\n3.7', 'AllianceBernstein\n3.2',
       'Big Huge Games\n4.9', 'Maxar Technologies\n3.5',
       'Phantom AI\n5.0', 'Noblis\n4.0', 'Spring Health\n3.6',
       'ClearEdge\n4.0', 'GetWellNetwork\n4.8', 'TACG Solutions\n4.5',
       'Scoop\n4.7', 'Montway Inc\n3.4', 'Juniper Networks\n3.8',
       'Notion Labs\n5.0', 'Lendio\n4.9', 'Direct Agents\n4.4',
       'NAVEX Global\n3.3', 'Upstart\n4.2', 'AppLovin\n4.8',
       'ISO New England\n3.8', 'Relativity\n3.7', 'Tempo Automation\n3.3',
       'MITRE\n3.3', 'Expedition Technology, Inc.\n5.0', 'Evidera\n3.8',
       'Plymouth Rock Assurance\n3.4', 'Crown Bioscience\n2.4',
       'GNS Healthcare\n2.9', 'OneMagnify\n4.4', 'SPECTRUM\n2.9',
       'Advanced BioScience Laboratories\n2.7',
       'Procore Technologies\n4.2', 'Ritedose\n3.5',
       'Covid-19 Search Partners', 'bioM√©rieux\n4.2',
       'Radical Convergence', 'Leidos\n3.5', 'Demandbase\n4.5',
       'Shelter Insurance\n4.1', 'USAC\n2.7',
       'General Dynamics Information Technology\n3.4', 'Offerpad\n4.4',
       'Magna International Inc.\n3.5', 'United BioSource\n2.3',
       'Kelly\n3.4', 'C3.ai\n4.7', 'Quartet Health\n3.9',
       'Midland Credit Management\n3.3',
       'Resurgent Capital Services\n4.4', 'webfx.com\n4.7',
       'Argo Group US\n3.5', 'BWX Technologies\n3.3', 'Life360\n3.9',
       'MassMutual\n3.7', 'Natera\n3.9', 'Genentech\n4.0', 'Ntrepid\n4.2',
       'Constant Contact\n3.6', 'Sage Intacct\n4.7',
       'Shape Security\n4.1', 'SkillSoniq\n5.0', 'Joby Aviation\n4.3',
       "Cook Children's Health Care System\n3.8",
       'Rubius Therapeutics\n3.8', 'GreatAmerica Financial Services\n4.6',
       'Coverent\n4.1', 'Mteq\n3.7', 'Rocket Lawyer\n4.4',
       'Alion Science & Technology\n3.6', 'Protolabs\n3.7',
       'Quest Integrity\n2.9', 'Phoenix Operations Group\n5.0',
       'Dice.com\n3.4', 'Southwest Research Institute\n3.9',
       'The Buffalo Group\n4.3',
       'Central California Alliance for Health\n3.5',
       'Security Finance Corporation of Spartanburg\n3.1',
       'Opendoor\n3.6', 'Global Data Management Inc\n4.5',
       'Photon Infotech\n3.0', 'REE\n5.0',
       'Riverside Research Institute\n3.6', 'T. Rowe Price\n3.6',
       'Encode, Inc.', 'Brighthouse Financial\n3.8',
       'II-VI Incorporated\n3.3', 'Surya Systems\n4.6', 'PayPal\n3.8',
       'Predictive Research Inc\n3.9', '1010data\n3.1', 'Gigya\n3.6',
       'Genesis Research\n5.0', 'Sanofi\n3.7', 'XPO Logistics\n3.7',
       'Trace Data\n3.9', 'Descript\n4.3',
       'Rincon Research Corporation\n4.2', 'Better Hire\n4.0',
       'Parker Hannifin\n3.3', 'Gallup\n4.1', 'Insider Inc\n3.3',
       'Rapid Value Solutions\n3.9', 'Battelle\n3.1',
       'The Drive Media, Inc.\n5.0',
       'Pacific Northwest National Laboratory\n3.7',
       'US Pharmacopeia\n3.2', 'Itlize Global\n4.6', 'eBay\n3.5',
       'Paige\n5.0', 'ABIOMED\n4.1', 'Comcast\n3.5',
       'Metronome, LLC\n3.2', 'Lawrence Livermore National Lab\n4.7',
       'FHLBank Pittsburgh\n3.8', 'Jacobs\n3.6',
       'Underwriters Laboratories\n3.3', 'Altus Group\n3.7', 'Jobot\n5.0',
       'Trovetechs Inc', 'Oshkosh Corporation\n4.2', 'Mackin\n3.4',
       'PETADATA', 'VBeyond Corporation\n4.4', 'Take-Two\n3.7',
       'Colony Brands\n3.7', 'Capio Group\n4.1', 'SleePare\n3.4',
       'ShorePoint\n4.5', 'Dolphin\n3.5', 'TE Connectivity\n3.6',
       'State of Virginia\n3.2', 'TA Digital\n3.7',
       'Market America Inc\n4.0', 'TrueAccord\n3.4',
       'ALTA IT Services\n3.9', 'Kollasoft Inc.\n3.2',
       'ASRC Federal Holding Company\n3.4', 'Adwait Algorithm\n4.4',
       'Cambridge FX\n3.5', 'Metromile\n3.8', 'Criteo\n3.9',
       'Advance Sourcing Concepts\n3.4', 'Enterprise Solutions Inc\n3.8',
       'Microagility', 'Conch Technologies, Inc\n4.6', 'GSK\n3.9',
       'Rainmaker Resources, LLC', '22nd Century Technologies\n3.7',
       'Huxley\n3.3', 'FM Systems\n3.4', 'B4Corp',
       'Blue Cross and Blue Shield of North Carolina\n3.7',
       'Jane Street\n4.8', 'SSATI\n5.0',
       'Solving IT International Inc\n3.4',
       'The Davey Tree Expert Company\n3.3', 'Centauri\n4.6',
       'Stride Search', 'Software Engineering Institute\n2.6',
       'TechProjects\n4.8', '7Park Data\n3.9',
       'Ameritas Life Insurance Corp\n3.0', 'Western Digital\n3.5',
       'Shimento, Inc.\n2.9', 'Averity\n5.0', 'Praxis Engineering\n4.7',
       'Point72 Ventures',
       'Johns Hopkins University Applied Physics Laboratory\n4.5',
       'Cambridge Mobile Telematics\n4.9', 'Blend360\n4.6',
       'Nolij Consulting\n3.9', 'Hatch Data Inc',
       'Compass Consulting Group\n4.7', 'SolutionIT, Inc.\n4.4',
       'Perspecta\n3.2', 'Smith Hanley Associates\n4.5',
       'Allen Institute\n3.5', 'Eliassen Group\n4.4',
       'Bayside Solutions\n3.1', 'Evolve Vacation Rental\n3.5',
       'AgreeYa Solutions\n3.8', 'Carolina Power & Light Co\n3.7',
       'New Iron Group, Inc.\n5.0', 'Travelers\n4.0', 'Twitch\n3.6',
       'Biogen\n3.6', 'HireAi', 'Mentor Graphics\n4.1',
       'WCG (WIRB-Copernicus Group)\n3.6',
       'Visionary Integration Professionals\n4.3', 'Dynetics\n4.0',
       'Navy Federal Credit Union\n3.9',
       'Exact Sciences Corporation\n4.0',
       'Community Behavioral Health\n3.6', 'Reynolds American\n3.3',
       'LifeOmic\n5.0', 'Visionist, Inc.\n4.9', 'Navio',
       'Concerto HealthAI\n3.3', 'Evolvinc', 'PROPRIUS\n5.0',
       'TECHNOCRAFT Solutions\n3.4', 'Latitude, Inc.\n4.1',
       'Royce Geospatial\n5.0', 'CyberCoders\n4.2',
       'Booz Allen Hamilton Inc.\n3.7', 'Burns & McDonnell\n3.8',
       'InvenTech Info\n4.8', 'Robert Half\n3.5',
       'Conflux Systems Inc.\n4.5', 'Voice\n3.4',
       'Falcon IT & Staffing Solutions', 'DataLab USA\n3.6',
       'Werner Enterprises Inc\n3.1', 'PeopleCom\n5.0',
       'VANTA Partners\n5.0', 'Blue Icy Water, LLC',
       "Farmer's Business Network, Inc.\n3.5", 'Sonde Health',
       'Maxiom\n5.0', 'Change Healthcare\n2.7', 'DCS Corp\n4.1',
       'Hive (CA)\n2.1', 'Hackensack Meridian Health\n3.3',
       'Net2Source Inc.\n3.2', 'The Trade Desk\n3.2', 'IBM\n3.7',
       'Knowesis Inc.\n4.4', 'MoTek Technologies\n3.1', 'HPOne\n3.5',
       'Blue Cloak LLC', 'TBWA\\Chiat\\Day\n2.7',
       'ThreeBridge Solutions\n3.5', 'Numeric, LLC\n3.2',
       'Centraprise\n4.2', 'DW Simpson\n4.2', 'LinQuest\n3.9',
       'Trexquant Investment\n4.0', 'Fleetcor\n3.7',
       'Radiant Digital\n4.5', 'Child Care Aware of America\n2.8',
       'IntelliPro Group Inc.\n4.1', 'USI\n3.4', 'Apex Systems\n3.9',
       'Pragmatics, Inc.\n2.9', 'Crossover Health\n3.5',
       'Lorven Technologies Inc\n4.0', 'Gap Inc.\n3.5',
       'Tygart Technology, Inc\n4.7', 'Murray Resources\n4.6',
       'New York Technology Partners\n4.0',
       'Two95 International Inc.\n4.0', 'Sophinea', 'CRS Group\n4.7',
       'Blackstone Talent Group\n3.5', 'Roche\n4.1',
       'Creative Circle\n3.6', 'Blue Horizon Tek Solutions\n5.0',
       'Sharpedge Solutions Inc\n4.7',
       'Alaka`ina Foundation Family of Companies\n3.6',
       'Hexagon US Federal\n2.7', 'Monte Rosa Therapeutics',
       'Comtech Global Inc\n4.0', 'Aveshka, Inc.\n3.8',
       '10x Genomics\n4.2', 'CompuForce', '1-800-Flowers\n2.7',
       'Aptive\n3.5', 'JCD Staffing\n5.0', 'Thumbtack\n3.9',
       'MILVETS Systems Technology, Inc.\n3.4', 'Apple\n4.1',
       'Kforce\n4.1', 'OppLoans\n4.4', 'Brillient\n3.9',
       'Xator Corporation\n2.9', 'HAN IT Staffing Inc.\n4.6',
       'Infinitive Inc\n3.4', 'New Relic\n4.7', 'ICW Group\n3.3',
       'NYSTEC\n3.8', 'E3 Federal Solutions\n4.5', 'Peraton\n3.4',
       'Group O\n3.1', 'CaptiveAire\n4.1', 'Temboo\n3.9', 'Kibo',
       'AeroVironment\n4.2', 'Applied Research Laboratories\n3.8',
       'Conagen\n2.0', 'Alector\n4.8', 'Homology Medicines, Inc.\n4.4',
       'Inland Empire Health Plan\n3.3',
       'Sandia National Laboratories\n3.8', 'CIA\n3.8',
       'Maven Wave Partners\n4.5', 'Ovative Group\n4.3', 'Kognetics\n3.6',
       'Envision Healthcare\n2.9', 'ConsumerTrack\n3.2',
       'Meridian Knowledge Solutions\n4.4', 'UST Global\n4.2',
       'IMG Systems\n3.2', 'Trident Systems Inc\n3.4', 'GrainBridge, LLC',
       'First Health Group\n3.2', 'Sprezzatura Management Consulting',
       'Progress Rail, A Caterpillar Company\n2.8',
       'Axiologic Solutions\n4.5', 'Indigo Slate\n3.0', 'Cubic\n3.3',
       'Advanced Bio-Logic Solutions Corp\n4.0',
       'Alignment Healthcare\n3.5', 'WGSN\n3.5',
       'ISYS Technologies, Inc.\n3.6', 'TransVoyant\n3.0', 'Geotab\n4.3',
       'EGlobalTech\n3.7', 'Central Business Solutions, Inc\n3.0',
       'KeHE Distributors\n2.5', 'Moxie Software\n3.0',
       'Unicom Technologies INC\n4.7', 'Americo Life\n3.3',
       'Tokio Marine HCC\n3.3', 'CACI International\n3.5',
       'Berico Technologies', 'Kehe Food Distributors', 'Pactera Edge',
       'Qurate Retail Group\n3.6', 'A-Line Staffing Solutions\n4.1',
       'Clear Ridge Defense', 'Criterion Systems, Inc.\n3.8',
       'Foundation Medicine\n4.0', 'TRANZACT\n3.6', 'JKGT', 'AccessHope',
       'ChaTeck Incorporated\n5.0'], dtype=object)

In [34]:
#This method will strip anygiven input string from its numeric,punctuations
def clean_name(input):
    output=''
    for i in input:
        if i not in string.whitespace.strip(' ')+string.punctuation+string.digits:
            output=output+i
    return output

In [35]:
data['Company Name']=data['Company Name'].apply(lambda x:clean_name(x))

In [36]:
data

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
index,,,,,,,,,,,,,
0,Sr Data Scientist,154000.00,3.10,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,154000.00,4.20,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,154000.00,3.80,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,154000.00,3.50,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,154000.00,2.90,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,136000.00,3.60,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,Data Scientist,136000.00,3.50,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,Data Scientist,136000.00,3.50,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,Data Scientist,136000.00,5.00,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,Data Scientist,136000.00,2.70,Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

### Location

it seems we can replace this made up names ('state,postal'), just by the postal abbreviation

In [37]:
data['Location'].isna().sum() #No nan values

0

In [38]:
data[data['Location']==-1].shape[0]

0

In [39]:
#states with it's corresponding postal abbreviations
us_states = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "Washington":"DC",
     "Richland":"WA",
    "United States":"US",
    "Remote":"RE"
}

In [40]:
def location_tweak(input):
    if input[-2:] in us_states.values():
        return input[-2:]
    else :
        try :
            return us_states[input] #counting for else cases
        except KeyError:
            return input

In [41]:
data['Location']=data['Location'].apply(lambda x:location_tweak(x))

In [42]:
data['Location'].unique()

array(['NY', 'VA', 'MA', 'CA', 'IL', 'MO', 'WA', 'DC', 'RE', 'TN', 'TX',
       'PA', 'AZ', 'WI', 'GA', 'FL', 'US', 'NE', 'KS', 'NH', 'NJ', 'LA',
       'OH', 'IN', 'MD', 'CO', 'UT', 'OR', 'MI', 'SC', 'MS', 'AL', 'RI',
       'IA', 'MN', 'OK', 'CT', 'NC', 'DE', 'WV'], dtype=object)

In [43]:
data

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
index,,,,,,,,,,,,,
0,Sr Data Scientist,154000.00,3.10,Healthfirst,NY,"New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,154000.00,4.20,ManTech,VA,"Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,154000.00,3.80,Analysis Group,MA,"Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,154000.00,3.50,INFICON,MA,"Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,154000.00,2.90,Affinity Solutions,NY,"New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,136000.00,3.60,TRANZACT,NJ,"Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,Data Scientist,136000.00,3.50,JKGT,CA,-1,-1,-1,-1,-1,-1,-1,-1
669,Data Scientist,136000.00,3.50,AccessHope,CA,-1,-1,-1,-1,-1,-1,-1,-1
670,Data Scientist,136000.00,5.00,ChaTeck Incorporated,CA,"Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,Data Scientist,136000.00,2.70,Flowers,NY,"Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

### HeadQuarters

In practice we use api's to fill missing headquarters based on loc , but for now
WILL fill missing elements with companyName + Location

In [44]:
data[data['Headquarters']=='-1'].shape[0] #We Have 31 missing Values

31

In [45]:
def headquarters_fill(x):
    if x['Headquarters'] == '-1':
        return x['Company Name']+', '+x['Location']
    else:
        return x['Headquarters']

In [46]:
data['Headquarters']=data.apply(headquarters_fill,axis=1)

### Size

In [47]:
'''Will set grades for each category and will assume unkowns are same as missings
 {+10k:A
 5k-10k:B
 1k-5k:C
 501-1k:D
 201-500:E
 51-200:F
 1-50:G
 -1/Ukn:H }
 '''

'Will set grades for each category and will assume unkowns are same as missings\n {+10k:A\n 5k-10k:B\n 1k-5k:C\n 501-1k:D\n 201-500:E\n 51-200:F\n 1-50:G\n -1/Ukn:H }\n '

In [48]:
data['Size'].isna().sum() #No nan But we have unkowns + -1 ' ie missing elements'

0

In [49]:
data['Size'].unique()

array(['1001 to 5000 employees', '5001 to 10000 employees',
       '501 to 1000 employees', '51 to 200 employees', '10000+ employees',
       '201 to 500 employees', '1 to 50 employees', '-1', 'Unknown'],
      dtype=object)

In [50]:
company_size={'10000+ employees':'A',
            '5001 to 10000 employees':'B',
             '1001 to 5000 employees':'C',
             '501 to 1000 employees':'D',
             '201 to 500 employees':'E',
             '51 to 200 employees':'F',
             '1 to 50 employees':'G'
             }

In [51]:
data['Size']=data['Size'].apply(lambda x:company_size[x] if x in company_size.keys() else 'H')

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 672 entries, 0 to 671
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          672 non-null    object
 1   Salary Estimate    672 non-null    float64
 2   Rating             672 non-null    float64
 3   Company Name       672 non-null    object
 4   Location           672 non-null    object
 5   Headquarters       672 non-null    object
 6   Size               672 non-null    object
 7   Founded            672 non-null    int64
 8   Type of ownership  672 non-null    object
 9   Industry           672 non-null    object
 10  Sector             672 non-null    object
 11  Revenue            672 non-null    object
 12  Competitors        672 non-null    object
dtypes: float64(2), int64(1), object(10)
memory usage: 73.5+ KB

### Rest of the columns

Just like headquarters , these columns requires an api to fill missing elements  based on company name ,
will skip this for now .